/* Estilo general para el fondo de la aplicación */
.root {
    -fx-background-color: #240057; /* Color de fondo general */
    -fx-min-width: 1400px; /* Ancho mínimo */
    -fx-min-height: 1000px; /* Altura mínima */
}

/* Estilo general para botones */
.button {
    -fx-font-size: 14px; /* Tamaño de texto */
    -fx-font-weight: bold; /* Negrita */
    -fx-text-fill: #ffffff; /* Color del texto */
    -fx-background-color: #007bff; /* Color de fondo del botón */
    -fx-padding: 10px 20px; /* Espaciado interno */
    -fx-border-radius: 5px; /* Bordes redondeados */
    -fx-background-radius: 5px; /* Bordes redondeados */
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.5), 5, 0.0, 0, 1); /* Sombra */
}

/* Estilo para botones en estado hover */
.button:hover {
    -fx-background-color: #0056b3; /* Color de fondo al pasar el ratón */
}

/* Estilo para etiquetas (Label) */
.label {
    -fx-font-size: 14px; /* Tamaño de texto */
    -fx-font-weight: bold; /* Negrita */
    -fx-text-fill: #000000; /* Color del texto */
}

/* Estilo para RadioButtons */
.radio-button {
    -fx-font-size: 14px; /* Tamaño de texto */
    -fx-font-weight: bold; /* Negrita */
    -fx-text-fill: #000000; /* Color del texto */
}

/* Estilo para RadioButtons cuando están seleccionados */
.radio-button:selected {
    -fx-text-fill: #007bff; /* Color del texto seleccionado */
}

/* Estilo para TextArea */
.text-area {
    -fx-font-size: 14px; /* Tamaño de texto */
    -fx-font-weight: bold; /* Negrita */
    -fx-text-fill: #000000; /* Color del texto */
    -fx-background-color: #ffffff; /* Color de fondo */
    -fx-border-color: #555555; /* Color del borde */
    -fx-border-radius: 5px; /* Bordes redondeados */
    -fx-border-width: 1px; /* Ancho del borde */
    -fx-padding: 10px; /* Espaciado interno */
    -fx-wrap-text: true; /* Habilitar el ajuste de texto */
    /*-fx-pref-height: 200px; !* Altura preferida para evitar barra de desplazamiento *!*/
    -fx-pref-width: 300px; /* Ancho preferido */
    /*-fx-scroll-bar-policy: never; !* Deshabilitar la barra de desplazamiento *!*/
}


/* Estilo para HBox */
.hbox {
    -fx-spacing: 20; /* Espaciado entre los elementos */
}

/* Estilo para VBox */
.vbox {
    -fx-spacing: 10; /* Espaciado entre elementos */
}

/* Estilo para FlowPane */
.flow-pane {
    -fx-hgap: 20; /* Espaciado horizontal */
    -fx-vgap: 20; /* Espaciado vertical */
    -fx-background-color: #424242; /* Fondo oscuro */
}

/* Estilo para panel de menú */
.menuPane {
    -fx-background-color: #323030; /* Color del fondo del menú */
    -fx-padding: 15; /* Espaciado interno */
}

/* Estilo general para elementos que comparten características */
.button, .label, .radio-button, .text-area {
    -fx-font-weight: bold; /* Texto en negrita */
    -fx-font-size: 14px; /* Tamaño de fuente general */
}

/* Ajustes para contenedores */
.pane {
    -fx-alignment: center; /* Alinear contenido al centro */
}
